<h1>Quienes somos</h1>
<div class="container-main-us">
    <p>Somos una empresa de mas de 15 años, que cuenta con sucursales en la Capital Federal, Mar del Plata, Tandil y Bariloche. 
       En Jugueteria Cosmica trabajamos para conseguir la felicidad de los niños, fomentando su imaginación, formación 
       y desarrollo. 
       Además queremos abanderar las causas más sensibles que puedan afectar al colectivo infantil para ser 
       identificada por su compromiso, sirviendo de altavoz para ser reconocida por la calidad humana y profesional 
       de nuestra gente.
       Ofrecemos productos de primer calidad y la mejor atención personalizada al cliente. 
       Y ahora contamos con nuestra propia pagina web, ¡para que puedas comprar sin moverte de casa!
       No te olvides de ponernos buena nota, este sitio va a seguir mejorando!!
    </p>
</div>
</section>

<section class="questions">
    <h3 class="h3-title">Sucursales y Horarios</h3>
    <div class="div-questions">
        <div class="sucursal">
            <div class="info">
                <h2>Sucursal I</h2>
                <p>Dirección: Av. Eduardo Madero 399, Buenos Aires, C1106ABF</p>
                <p>Horario:  Lunes a Viernes de 08:00 a 22:00 hs. </p>
                <iframe class="iframe-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0351853096845!2d-58.37038782464326!3d-34.603271772954464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3353276841691%3A0x3709a893b532e045!2sAv.%20Eduardo%20Madero%20399%2C%20C1106%20Puerto%20Madero%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1687272408975!5m2!1ses-419!2sar"" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
                <h2>Sucursal II</h2>
                <p>Dirección: Av. Vélez Sársfield 156, X5000GDT Córdoba, Provincia de Córdoba</p>
                <p>Horario:  Lunes a Viernes de 08:00 a 22:00 hs. </p>
                <iframe class="iframe-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.9067249181253!2d-64.1905358247903!3d-31.416695874261585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a283c68b97fb%3A0x70e9e70f54b2176f!2sAv.%20V%C3%A9lez%20Sarsfield%20156%2C%20X5000JJO%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1687272650353!5m2!1ses-419!2sar"" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
                <h2>Sucursal III</h2>
                <p>Dirección: Av. Comodoro Martín Rivadavia 515, U8300IIF, Neuquén</p>
                <p>Horario:  Lunes a Viernes de 08:00 a 22:00 hs. </p>
                <iframe class="iframe-maps" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3102.6781398308426!2d-68.05447702442282!3d-38.95418077171206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1ses-419!2sar!4v1687272703797!5m2!1ses-419!2sar"" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
                <h2>Sucursal IV</h2>
                <p>Dirección: Balcarce 193, A4400IQB Salta, Provincia de Salta</p>
                <p>Horario:  Lunes a Viernes de 08:00 a 22:00 hs. </p>
                <iframe class="iframe-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14489.278038780358!2d-65.42174530304241!3d-24.784510547659306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3bf57ae46b7%3A0x1a252a821a433447!2sJos%C3%A9%20Balcarce!5e0!3m2!1ses-419!2sar!4v1687272738621!5m2!1ses-419!2sar"" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
                <h2>Sucursal V</h2>
                <p>Dirección: Av. Pellegrini 1618, S2000CEK Rosario, Provincia de Santa Fe</p>
                <p>Horario:  Lunes a Viernes de 08:00 a 22:00 hs. </p>
                <iframe class="iframe-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.817725181453!2d-60.650766024720866!3d-32.955821473589374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab1277f2cc7b%3A0xd7caa4d2c675f971!2sAv.%20Pellegrini%201618%2C%20S2000BUQ%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1687272764892!5m2!1ses-419!2sar"" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>        
    </div>       
    <h3 class="h3-title">Formas de Pago.</h3>
    <div class="div-questions">
        <p>Realizando tu compra en nuestro sitio web, tenés múltiples opciones para poder abonar.</p>
            <p>A continuación, te detallamos distintas alternativas para ello</p>
            <p>Pago con tarjeta de débito:</p>
            Podes abonar tu compra utilizando tu tarjeta de débito de las entidades VISA, Mastercard y Maestro.
            <p>Pago con tarjeta de crédito:</p>

               <p>Podes abonar tu compra utilizando tu tarjeta de crédito bancarizada de las entidades VISA, Mastercard y AMEX.</p>
               <p>Te detallamos los planes de pago vigentes a continuación:</p>
               <ul>
                <li>Podes abonar en hasta 3 cuotas sin interés</li>
                <li>Podes abonar en hasta 6 cuotas con 14,22% de interés</li>
                <li>Podes abonar en hasta 12 cuotas con 25,67% de interés</li>
               </ul>
            <p>Pago con MercadoPago:</p>
            <p>
                Podes abonar tu compra utilizando tu cuenta de MercadoPago. Mediante esta selección, podrás elegir opciones tales como tarjeta de debito, tarjeta de crédito, o pago en efectivo.
                Las promociones vigentes de pagos mediante tarjeta de crédito se pueden consultar simulando la compra, o bien ingresando en la plataforma de MercadoPago.
                Los pedidos que se abonen en efectivo, serán cobrados a través de PagoFácil o Rapipago, mediante la selección de esta opción en MercadoPago..</p>
            </p>
    </div>
    <h3 class="h3-title">Políticas de Envío</h3>
    <div class="div-questions">
        <p>El envío se realizará según la forma seleccionada por el cliente al realizar su compra en nuestra tienda online el mismo podrá ser:</p>
        <p>Retiro en Sucursal:</p>
        <p>Para retirar por sucursal el cliente podrá seleccionar entre las sucursales* disponibles para realizar su retiro, el pedido estará listo para ser retirado de 2 a 4 días hábiles a partir de la confirmación del pago que recibirá el cliente desde nuestra tienda online. La entrega se realizará a la persona que realizó la compra o mayor de 18 años autorizado para retirar la misma, presentando la factura de compra y DNI. El cliente tiene hasta 30 días luego de que realiza la compra para poder retirar el pedido por la sucursal elegida</p>
        <p>Envíos tipo Flex:</p>
        <p>El Servicio Flex es para compras realizadas exclusivamente en AMBA. La compra se entregará en el día de 14 a 21hs, si la compra se acredita hasta las 12 hs* del mediodía del día hábil. Si la compra se acredita pasadas 12hs del mediodía del día hábil, la entrega se realizará al día siguiente, por lo tanto las compras realizadas los fines de semana o feriados serán enviadas el día hábil siguiente. La entrega se realizará a la persona que realizó la compra o mayor de 18 años, presentando el DNI.</p>
        <p>Envío a Domicilio al interior del país</p>
        <p>Al seleccionar esta opción el servicio se realizará al domicilio del cliente y el mismo deberá pagar el costo del envío, el costo del mismo será cotizado con el Código Postal en la página. El tiempo de entrega estimado será de 7 días hábiles y los pedidos se despachan a partir de las 24 a 48 hs hábiles de informada la acreditación del pago . La entrega se realizará a la persona que realizó la compra o mayor de 18 años autorizado, presentando el DNI.</p>
    </div>
    <h3 class="h3-title">Costo del servicio de entrega a domicilio y casos de imposibilidad de entrega</h3>
    <div class="div-questions">
        <p>El servicio de entrega a domicilio se encuentra habilitado en determinadas localidades del país, las cuales podrán ser consultadas durante el proceso de compra online a través de su código postal, momento en el cual el Usuario procederá a seleccionar según su conveniencia. Los tiempos de entrega comienzan a correr en el momento en que su pago es aprobado. Se toman como días hábiles de lunes a viernes, excepto feriados. Las entregas se realizan de Lunes a Viernes de 9 – 18hs. Se recomienda dejar un domicilio en donde pueda recibir su pedido en ese horario. El servicio de entrega a domicilio se efectuará dentro de un margen mínimo de 3 días hábiles*, que podrá extenderse hasta 15 días hábiles en función de la ubicación del domicilio de entrega informado por el Usuario y tendrá un costo, que aparecerá expresado y diferenciado en la etapa del proceso de llenado del carrito previa a la emisión de su pedido.</p>
    </div>
    <h3 class="h3-title">Cambios y Devoluciones.</h3>
    <div class="div-questions">
        <p>¿Cuáles son los plazos para cambiar o devolver un producto?</p>
        <p>El consumidor cuenta con un plazo de treinta (30) días corridos desde la fecha en que se realizó la compra.</p>
        <p>¿Cuáles son las condiciones para cambiar o devolver el producto?</p>
        <p>El producto debe encontrarse en el mismo estado en que fue recibido, sin haber sido usado, con su packaging original y sus etiquetas.
            Asimismo, el consumidor deberá presentar junto con el producto la correspondiente factura de compra.
            Si el motivo del cambio radica en alguna circunstancia atribuible al consumidor todos los cargos y costos que genere el cambio serán a cargo del Usuario.
            En caso de que el producto presente fallas o desperfectos de fábrica, el costo quedará a nuestro cargo</p>
    </div>
    <h3 class="h3-title">Publicidad.</h3>
    <div class="div-questions">
        <p>Juguetería Cósmica se reserva el derecho de incluir en el Sitio anuncios publicitarios, que se identificarán a los efectos de ser distinguidos de las informaciones acerca de descripción y precio de los artículos ofrecidos. Esas inclusiones publicitarias se dirigen únicamente a llamar la atención de los Usuarios sobre determinadas ofertas y no reemplazan las descripciones de los productos hechas en el Sitio correspondiente al artículo, que el Usuario deberá utilizar para evaluar y realizar su compra online.</p>
    </div>

</section>