    
    <div class="disclaimer-container">

        <h1>AVISO LEGAL</h1>
            <p>
                El presente aviso legal regula el uso del sitio web Jugueteria Cósmica, propiedad de Umbrella Design, con domicilio social en [dirección de la empresa] y con número de identificación fiscal [NIF de la empresa].
                
                El acceso y uso del sitio web de Juguetera Cósmica atribuye la condición de usuario y supone la aceptación plena y sin reservas por parte del usuario de todas y cada una de las condiciones contenidas en este aviso legal. Por tanto, se recomienda al usuario leer detenidamente este aviso legal antes de proceder a su uso.
                
                Derechos de propiedad intelectual e industrial: Todos los contenidos del sitio web, incluyendo sin carácter limitativo, textos, gráficos, imágenes, su diseño y los derechos de propiedad intelectual que pudieran corresponder a dichos contenidos, así como todas las marcas, nombres comerciales o cualquier otro signo distintivo son propiedad de Umbrella Design o de sus legítimos propietarios, quedando reservados todos los derechos sobre los mismos. El usuario se compromete a respetar los derechos de propiedad intelectual e industrial de Umbrella Design y de terceros.
                
                Uso del sitio web: El usuario se compromete a hacer un uso adecuado del sitio web y de sus contenidos, de conformidad con la legislación aplicable y las presentes condiciones de uso. El usuario será responsable de toda la información, opiniones o manifestaciones de cualquier tipo que publique en el sitio web. Asimismo, se prohíbe cualquier uso del sitio web con fines ilícitos o que puedan lesionar los derechos e intereses de Umbrella Design o de terceros.
                
                Exclusión de garantías y responsabilidad: Umbrella Design no garantiza la disponibilidad y continuidad del funcionamiento del sitio web y de sus servicios. Asimismo, no será responsable de los daños y perjuicios que se pudieran derivar de la falta de disponibilidad o continuidad del funcionamiento del sitio web o de sus servicios, así como de los errores en el acceso a las distintas páginas web o a aquellas desde las que, en su caso, se presten dichos servicios. Umbrella Design se reserva el derecho a interrumpir el acceso al sitio web en cualquier momento y sin previo aviso, ya sea por motivos técnicos, de seguridad, de mantenimiento o por cualquier otra causa.
                
                Enlaces: El sitio web puede incluir enlaces a otros sitios web, gestionados por terceros, con el objeto de facilitar el acceso del usuario a la información disponible en Internet. Umbrella Design no asume ninguna responsabilidad por la información contenida en dichos sitios web ni por los posibles daños que pudieran derivarse del acceso a los mismos.
            </p>
        
    </div>
